body {
    background-color: #B2C7DF;
    margin: 0;
}

header {
    background-color: #1B1A5E;
    display: grid;
    grid-auto-flow: column;
}

.logo {
    padding-left: 4rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.title{
    padding-top: 4rem;
    padding-right: 5rem;
    color: white;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
}

#sec-form {
    display: grid;
    grid-auto-flow: column;
    
}

form{
    display: grid;
    grid-auto-flow: row;
    max-width: 500px;
    padding: 50px;
    
}

label{
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */

    color: #000000;
}

input{
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.57);
    height: 54px;
    font-family: 'Alegreya Sans SC';
    margin-bottom: 25px;
}

.submit-button{
    
    background: #1B1A5E;
    height: 52px;
    width: 244px;
    border-radius: 10px;
    font-family: 'Anaheim';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    text-align: center;

    color: #FFFFFF;
    margin: 0 auto;
}   

#dataTable{
    margin-top: 75px;

}

th{
    min-width: 110px;
    height: 31px;
    left: 19px;
    top: 23px;
    padding: 0px 10px;
    background: rgba(64, 123, 255, 0.55);
    border: 1px solid #767373;

    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
        
    color: #000000;
}

td{
    background: rgba(255, 255, 255, 0.57);
    border: 1px solid #767373;
    text-align: center;
    font-family: 'Alegreya Sans SC';
    font-size: 22px;
    font-weight: 800;

}